html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Figtree", sans-serif;
}

:root {
  --main-Yellow: hsl(47, 88%, 63%);
  --main-White: hsl(0, 0%, 100%);
  --main-Grey: hsl(0, 0%, 50%);
  --main-Black: hsl(0, 0%, 7%);
}

main {
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-Yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.card {
  width: 90%;
  max-width: 350px;
  height: cover;
  background-color: var(--main-White);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 10px 10px black;
}
.card-image {
  width: 100%;
  border-radius: 10px;
}

.cathegory {
  display: inline-block;
  width: cover;
  height: cover;
  background-color: var(--main-Yellow);
  padding: 5px 15px;
  border-radius: 5px;
  margin: 20px 0;
  font-weight: bold;
}

.date {
  margin-bottom: 20px;
}

.article-title {
  margin-bottom: 20px;
}

p {
  color: var(--main-Grey);
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
}

.author {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.author-image {
  width: 35px;
}

.author-name {
  font-size: 17px;
}

.attribution {
  position: absolute;
  bottom: 0px;
}
